@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

body {
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 15px;   
}

a {
    margin: 5px 5px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;  
    justify-content: space-between; 
}


#haut_gauche {
    display: flex;
    justify-content: flex-start;    
    padding-left: 20px;
    align-items: center;
}

#haut_droite {
    display: flex;
    justify-content: flex-end;  
    margin-right: 20px;
    align-items: center;
}


ul > a, ul > img {
    padding: 0 8px;
}

#my-apps:hover, #my-profile:hover {
    border-radius: 200px;
    box-shadow: 0 0 10px gainsboro;
}

section {
    display: flex;
    align-items: center;    
    flex-direction: column;
    margin-top: 5vh;  
}

/* utilisation de span pour écrire directement Google (réussi grâce aux forums) car en implémentant l'image je n'ai jamais réussi à la mettre au milieu parfaitement*/
h1 {
    font-family: Product Sans;
    font-size: 95px;
}

#barre_de_recherche {
    display: flex;
    flex-direction: row;   
    justify-content: space-between;    
    width: 600px;
    height: 38px;
    border: 1px solid gainsboro;
    border-radius: 20px;
    background-color: white;
}

#barre_de_recherche:hover {
    box-shadow: 0 0 10px gainsboro;
}

#barre_de_recherche > input {
    flex-grow: 8;   
    border: none;
    outline: none;  
}

img:hover {
    cursor: pointer;
}

#boutons_liens {
    display: flex;
    flex-direction: row;    
    padding-top: 53px;
}

button {
    background-color: rgb(248,250,250);
    border-radius: 5px;
    border: none;
    min-width: 54px;
    height: 36px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px gainsboro;
    
}

footer {
    background-color: lightgray;
    position: fixed;   
    width: 100vw;
    bottom: 0; 
}

#fbas_gauche {
    display: flex;
    justify-content: flex-start;   
    padding-left: 20px; 
    align-items: center;
}

#bas_droite {
    display: flex;
    justify-content: flex-end;  
    margin-right: 20px;
    align-items: center;
}

div.bordure{
    border-bottom:1px solid grey;
}



